// Définition du style pour le pied de page
.footer {
  // Utilise flexbox pour organiser les éléments enfants en colonne
  display: flex;
  flex-direction: column;

  // Couleur du texte
  color: $color-white;

  // Hauteur à 100% de la hauteur disponible
  height: 100%;

  // Couleur de fond du pied de page
  background-color: $color-footer;

  // Remplissage intérieur
  padding: 1.5rem;

  // Styles pour les titres de niveau 2 à l'intérieur de ".footer"
  & h2 {
    // Police Shrikhand
    font-family: "Shrikhand", cursive;

    // Poids de police réinitialisé
    font-weight: unset;

    // Supprime les marges extérieures
    margin: 0;

    // Ajoute une marge inférieure
    margin-bottom: 1rem;
  }

  // Styles pour les paragraphes à l'intérieur de ".footer"
  p {
    // Empêche les retours à la ligne
    white-space: nowrap;
  }

  // Styles pour les icônes à l'intérieur de ".footer"
  i {
    // Ajoute un espace de 0.5rem entre l'icône et le texte
    margin-right: 0.5rem;
  }

  // Styles pour les liens à l'intérieur de ".footer"
  & a {
    // Supprime la décoration de lien par défaut
    text-decoration: none;

    // Couleur du texte
    color: $color-white;

    // Couleur du texte au survol
    &:hover {
      color: $color-primary;
    }
  }

  // Styles pour la section de texte "__txt" à l'intérieur de ".footer"
  &__txt {
    // Utilise flexbox pour organiser les éléments enfants
    display: flex;

    // Centre les éléments verticalement
    align-items: center;
  }

  // Styles pour la section de liens "__links" à l'intérieur de ".footer"
  &__links {
    // Ajoute une marge inférieure
    margin-bottom: 1rem;
  }

  // Styles pour la section "__moove" à l'intérieur de ".footer"
  &__moove {
    // Ajoute une marge gauche
    margin-left: 1.8rem;

    // Ajoute une marge inférieure
    margin-bottom: 2rem;
  }

  // Media query pour les écrans de taille supérieure ou égale à 995px
  @media (min-width: 995px) {
    // Utilise flexbox pour organiser les éléments enfants
    display: flex;

    // Centre les éléments verticalement
    align-items: center;

    // Styles pour les éléments avec la classe "links" à l'intérieur de ".footer"
    .links {
      // Utilise flexbox pour organiser les éléments enfants
      display: flex;

      // Répartit uniformément l'espace horizontal
      justify-content: space-around;

      // Largeur à 100%
      width: 100%;
    }
  }
}