// Styles généraux pour les titres
.title {
  // Utilise la police Shrikhand pour les titres
  font-family: "Shrikhand", cursive;

  // Définit la taille de la police à 2rem
  font-size: 2rem;

  // Centre le texte horizontallement
  text-align: center;

  // Ajoute un léger remplissage
  padding: 0.3rem;

  // Ajoute une ombre portée
  box-shadow: 0 0 0.5rem rgb(92, 92, 92);

  // Supprime les marges extérieures
  margin: 0;

  // Ajoute une petite marge inférieure
  margin-bottom: 3px;
}

// Styles pour les éléments avec la classe "city"
.city {
  // Styles communs pour les éléments enfants de ".city"
  &,
  & .paname {
    // Définit la couleur de fond
    background-color: #e3e3e3;
  }

  // Ajoute un remplissage intérieur
  padding: 1rem;

  // Utilise flexbox pour organiser les éléments enfants
  display: flex;

  // Centre les éléments horizontalement
  justify-content: center;

  // Espacement entre les éléments enfants
  gap: 1rem;

  // Styles pour les éléments ".paname" à l'intérieur de ".city"
  .paname {
    // Largeur fixe
    width: 109px;

    // Hauteur fixe
    height: 19px;

    // Opacité maximale
    opacity: 1;

    // Alignement du texte à droite
    text-align: right;

    // Texte en gras
    font-weight: bold;

    // Pas de bordure
    border: none;

    // Taille de la police
    font-size: 1rem;

    // Pas de marges
    margin: 0;

    // Couleur du texte
    color: #000;

    // Empêche le texte de se diviser sur plusieurs lignes
    white-space: nowrap;
  }
}