@import "../Utils/variables"; // Importe un fichier de variables contenant des couleurs, des tailles de police, etc.
@import "../Utils/mixins"; // Importe un fichier de mixins contenant des règles réutilisables

.info {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: $color-grey;
  padding-bottom: 4rem;
  margin-bottom: 0; // Réduire l'espace
  & h1 { // Sélectionne les balises h1 à l'intérieur de .info
    margin-top: 2rem; // Ajoute un espacement en haut de 2 rem
    margin-bottom: 0; // Supprime l'espacement en bas
    font-size: 1.6rem; // Définit la taille de police à 1.6 rem
  }
  & p {
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem; // Réduire la marge inférieure
  }
  & button {
    @include button;
    @include box-shadow;
    margin-top: 0; // Réduire la marge supérieure
  }
  & button:hover { // Sélectionne les boutons au survol à l'intérieur de .info
    @include hover-button; // Utilise la mixin hover-button pour appliquer des styles au survol
  }
}
