@import "../Utils/variables";
@import "../Utils/mixins";

.cover--image1 {
  position: relative;
  height: 15rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image3.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image2 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image2.jpg);
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image3 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image1.jpg);
  @media (max-width: 994px) {
    height: 15rem;
  }
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.cover--image4 {
  position: relative;
  height: 22rem;
  width: 100%;
  background-size: cover;
  margin-top: -3px;
  background-image: url(../../images/restaurants/image1.jpg);
  @media (max-width: 994px) {
    height: 16rem;
  }
  @media (min-width: 994px) {
    height: 28rem;
  }
}
.title {
  & > a {
    position: absolute;
    left: 15px;
    top: 12px;
    left: 20px;
    font-size: 2rem;
    color: $color-black;
    text-decoration: none;
  }
}

.menu {
  position: relative;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 2rem;
  background-color: $color-grey;
  &--header {
    & > h2 {
      font-family: "Shrikhand", cursive;
      font-weight: unset;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 0;
      text-align: center;
      @media (max-width: 280px) {
        font-size: 22px;
      }
    }
    position: absolute;
    margin-top: -3rem;
    width: 100%;
    background-color: $color-white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-grey;
    i {
      position: absolute;
      font-size: 2rem;
      right: 3.5rem;
      top: 30%;
      @media (max-width: 425px) {
        right: 2.5rem;
      }
      @media (max-width: 320px) {
        right: 1.5rem;
      }
    }
    @include heart;
  }
  &--assets {
    & > h3 {
      font-weight: unset;
      font-size: 1rem;
      padding-top: 2.5rem;
      margin-top: 0;
      margin-bottom: 0;
      @include underline;
      @media (min-width: 994px) {
      padding-left: 40rem;;
      }
    }
  }
  &--grid {
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    @media (min-width: 994px) {
      justify-content: center; // Centre les éléments horizontalement
      align-items: center;
    }
    & .commande {
      white-space: nowrap;
      position: relative;
      display: flex;
      height: 3.5rem;
      padding: 5px;
      width: auto;
      padding-left: 4%;
      padding-top: 2%;
      margin-bottom: 15px;
      justify-content: space-around;
      background-color: $color-white;
      border-radius: 15px;
      flex-direction: row;
      cursor: pointer;
      @media (max-width: 992px) {
        justify-content: normal;
      }
      @media (max-width: 390px) {
        justify-content: normal;
      }
      // Définition de l'animation de check lors du survol
      &:hover .check {
      // Définition de l'opacité à 1 (l'élément est visible)
      opacity: 1;
  
      // Définition de la translation horizontale à -100% (l'élément est déplacé vers la gauche)
      // Cela fait apparaître le check en déplaçant l'élément vers la gauche
      transform: translateX(-100%);
  
      // Média query pour les écrans de largeur inférieure à 994px
      @media (max-width: 994px) {
      // Définition de la translation horizontale à -20% (l'élément est déplacé vers la gauche)
      // Cela ajuste la position du check pour les écrans plus petits
      transform: translateX(-20%);
        }
      }
      &:hover .prix {
        transform: translateX(-170%);
        @media (max-width: 1440px) {
          transform: translateX(-40%);
          width: 7rem;
        }
        @media (max-width: 992px) {
          transform: translateX(-100%);
        }
        @media (max-width: 768px) {
          transform: translateX(-100%);
        }
        @media (max-width: 425px) {
          width: 9rem;
          transform: translateX(-80%);
          transition: all 300ms;
        }
        @media (max-width: 390px) {
          width: 9rem;
          transform: translateX(-70%);
          transition: all 300ms;
        }
        @media (max-width: 375px) {
          width: 9rem;
          transform: translateX(-70%);
          transition: all 300ms;
        }
        @media (max-width: 320px) {
          width: 9rem;
          transform: translateX(-40%);
          transition: all 300ms;
        }
        @media (max-width: 280px) {
          transform: translateX(-30%);
          transition: all 300ms;
          width: 10rem;
        }
      }
      // Définition de l'animation de rotation du check icon lors du survol
      &:hover .check_icon {
      // Définition de la rotation à 360 degrés (l'élément est tourné sur lui-même)
      // Cela crée un effet de rotation pour le check icon lors du survol
      transform: rotate(360deg);
      }
      @media (min-width: 994px) {
        padding: 1rem;
        padding-right: 5rem;
        width: 20%;
      }
      @media (max-width: 375px) {
        justify-content: normal;
      }
      & h2 {
        margin: 0;
        font-size: 17px;
        white-space: nowrap;
        @media (max-width: 375px) {
          font-size: 15px;
        }
      }
      & .description {
        font-size: 13px;
        margin: 0;
        & p {
          margin: 0;
        }
        @media (max-width: 1440px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 1024px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 425px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 390px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 375px) {
          font-size: 13px;
        }
        @media (max-width: 280px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      & .items {
        padding-left: 5%;
        display: flex;
        width: 14rem;
        flex-direction: column;
        justify-content: space-around;
        @media (max-width: 1440px) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 1280px) {
          right: 0rem;
        }
        @media (max-width: 1024px) {
          right: 0rem;
          width: 10rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 994px) {
          width: 14rem;
          right: 6rem;
        }
        @media (max-width: 768px) {
          padding-left: 0;
        }
        @media (max-width: 425px) {
          width: 15rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 390px) {
          width: 14rem;
          right: 2rem;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        @media (max-width: 375px) {
          text-overflow: ellipsis;
          overflow: hidden;
          padding-left: 0;
          right: 1rem;
        }
        @media (max-width: 280px){
          width: 11rem;
        }
        & h2 {
          @media (max-width: 1440px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 1024px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 425px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 390px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          @media (max-width: 280px) {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
  @media (min-width: 994px) {
    display: flex;
    flex-direction: column;
  }
}
// Définition des styles pour le bouton de commande
.button {
  // Définition de la couleur de fond à $color-grey
  background-color: $color-grey;
  
  // Utilisation de flexbox pour centrer le contenu
  display: flex;
  justify-content: center;
  
  // Ajout d'un remplissage inférieur pour espacer le bouton du bas de la page
  padding-bottom: 4rem;
  
  // Définition des styles pour le bouton à l'intérieur de .button
  & button {
    // Définition de la couleur de fond à $color-grey
    background-color: $color-grey;
    
    // Définition de la largeur du bouton à 12rem
    width: 12rem;
    
    // Inclusion de la mixin button pour définir les styles du bouton
    @include button;
    
    // Définition des styles pour le bouton au survol
    &:hover {
      // Inclusion de la mixin hover-button pour définir les styles du bouton au survol
      @include hover-button;
    }
    
    // Média query pour les écrans de largeur supérieure à 994px
    @media (min-width: 994px) {
      // Définition de la largeur du bouton à 25% de la largeur de l'écran
      width: 25%;
    }
  }
}
.prix {
  position: relative;
  left: 4rem;
  top: 65%;
  font-weight: bold;
  transition: all 300ms;
  @media (max-width: 1440px) {
    text-align: center;
    justify-content: center;
    left: 3rem;
  }
  @media (max-width: 1280px) {
    left: 3rem;
  }
  @media (max-width: 1024px) {
    left: 4rem;
  }
  @media (max-width: 994px) {
    left: 34rem;
    top: 50%;
  }
  @media (max-width: 768px) {
    left: 24rem;
  }
  @media (max-width: 425px) {
    text-align: center;
    left: 5rem;
  }
  @media (max-width: 390px) {
    left: 4rem;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
  }
  @media (max-width: 375px) {
    text-align: center;
    justify-content: center;
    left: 3.5rem;
    font-size: 0.9rem;
    top: 62%;
  }
  @media (max-width: 320px) {
    left: 1rem;
  }
}
// Définition des styles pour l'élément de check
.check {
  // Positionnement absolu pour permettre la superposition avec d'autres éléments
  position: absolute;
  
  // Opacité initiale à 0 pour rendre l'élément invisible
  opacity: 0;
  
  // Positionnement horizontal à 28.1rem pour aligner l'élément avec d'autres éléments
  left: 28.1rem;
  
  // Positionnement vertical à 0rem pour aligner l'élément avec d'autres éléments
  top: 0rem;
  
  // Hauteur de l'élément à 3.5rem pour définir sa taille
  height: 3.5rem;
  
  // Définition de l'overflow à hidden pour cacher le contenu qui dépasse de l'élément
  overflow: hidden;
  
  // Ajout d'un remplissage intérieur de 1rem pour espacer le contenu de l'élément
  padding: 1rem;
  
  // Définition de la couleur de fond à $color-tertiary pour donner une couleur spécifique à l'élément
  background-color: $color-tertiary;
  
  // Définition des bordures arrondies pour donner un aspect visuel à l'élément
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
  // Définition de la transition pour les propriétés de l'élément pour créer un effet de transition
  transition: all 300ms;
  
  // Média queries pour ajuster les styles en fonction de la largeur de l'écran
  @media (max-width: 1590px) {
    // Ajout d'un remplissage gauche de 1rem pour ajuster l'espacement
    padding-left: 1rem;
  }
  @media (max-width: 1440px) {
    // Ajustement de la position horizontale à 22.6rem
    left: 22.6rem;
  }
  @media (max-width: 1366px) {
    // Ajustement de la position horizontale à 22rem
    left: 22rem;
  }
  @media (max-width: 1280px) {
    // Ajustement de la position horizontale à 21rem
    left: 21rem;
  }
  @media (max-width: 1100px) {
    // Ajout d'un remplissage gauche de 1rem et d'une marge droite de 5rem pour ajuster l'espacement
    padding-left: 1rem;
    margin-right: 5rem;
  }
  @media (max-width: 1024px) {
    // Ajustement de la position horizontale à 18rem et suppression de la marge droite
    left: 18rem;
    margin-right: 0;
  }
  @media (max-width: 994px) {
    // Suppression de la marge et ajustement de la position horizontale à 54rem
    margin: 0;
    left: 54rem;
    top: 0rem;
    height: 3rem;
    padding-left: 1.5rem;
  }
  @media (max-width: 768px) {
    // Ajustement de la position horizontale à 41rem et de la hauteur à 2.7rem
    left: 41rem;
    height: 2.7rem;
    padding-left: 1.3rem;
  }
  @media (max-width: 745px) {
    // Ajout d'un remplissage de 1rem et ajustement de la hauteur à 2.7rem
    padding: 1rem;
    height: 2.7rem;
  }
  @media (max-width: 425px) {
    // Ajustement de la position horizontale à 21.5rem et de la hauteur à 2.3rem
    left: 21.5rem;
    height: 2.3rem;
  }
  @media (max-width: 390px) {
    // Ajustement de la position horizontale à 20rem et de la hauteur à 2.3rem
    left: 20rem;
    height: 2.3rem;
    top: 0rem;
    padding-right: 0.7rem;
  }
  @media (max-width: 375px) {
    // Ajustement de la position horizontale à 19rem et de la hauteur à 2. 3rem
    left: 19rem;
    height: 2.3rem;
    top: 0rem;
  }
  @media (max-width: 320px) {
    // Ajustement de la position horizontale à 15.8rem et de la hauteur à 2.2rem
    left: 15.8rem;
    height: 2.2rem;
  }
  @media (max-width: 280px) {
    // Ajustement de la position horizontale à 13.5rem
    left: 13.5rem;
  }
// Définition des styles pour l'icône de check
&_icon {
  // Définition de la largeur de l'icône à 18px
  width: 18px;
  
  // Définition de la marge supérieure de l'icône à 0.8rem
  margin-top: 0.8rem;
  
  // Définition de l'alignement du texte à center pour centrer l'icône
  text-align: center;
  
  // Définition de la couleur de fond de l'icône à $color-white
  background-color: $color-white;
  
  // Définition de la couleur du texte de l'icône à $color-tertiary
  color: $color-tertiary;
  
  // Définition de la bordure arrondie de l'icône à 25px
  border-radius: 25px;
  
  // Définition du remplissage intérieur de l'icône à 0.2rem
  padding: 0.2rem;
  
  // Définition de la bordure de l'icône à 1px solide de couleur $color-white
  border: 1px solid $color-white;
  
  // Définition de la transition pour les propriétés de l'icône pour créer un effet de transition
  transition: all 0.6s;
  
  // Média queries pour ajuster les styles en fonction de la largeur de l'écran
  @media (max-width: 994px) {
    // Ajustement de la marge supérieure de l'icône à 0.8rem
    margin-top: 0.8rem;
  }
  @media (max-width: 768px) {
    // Ajustement de la marge supérieure de l'icône à 0.6rem
    margin-top: 0.6rem;
  }
  @media (max-width: 425px) {
    // Ajustement de la marge supérieure de l'icône à 0.3rem
    margin-top: 0.3rem;
  }
  @media (max-width: 390px) {
    // Ajustement de la marge supérieure de l'icône à 0.3rem
    margin-top: 0.3rem;
  }
  @media (max-width: 375px) {
    // Ajustement de la marge supérieure de l'icône à 0.4rem
    margin-top: 0.4rem;
    }
  }
}