// Styles pour l'élément avec la classe "display"
.display {
  // Styles pour la première variation de l'élément
  &_one {
    // Définition de l'opacité initiale à 1
    opacity: 1; 
    // Définition de l'animation "display" pendant 0.9s avec une easing ease-in-out et forwards (l'animation se termine à la dernière frame)
    animation: display 0.9s forwards ease-in-out; 
  }
  
  // Styles pour la deuxième variation de l'élément
  &_two {
    // Définition de l'opacité initiale à 1
    opacity: 1; 
    // Définition de l'animation "display" pendant 1.2s avec une easing ease-in-out et forwards (l'animation se termine à la dernière frame)
    animation: display 1.2s forwards ease-in-out; 
  }
  
  // Styles pour la troisième variation de l'élément
  &_three {
    // Définition de l'opacité initiale à 1
    opacity: 1; 
    // Définition de l'animation "display" pendant 1.5s avec une easing ease-in-out et forwards (l'animation se termine à la dernière frame)
    animation: display 1.5s forwards ease-in-out; 
  }
}

// Définition de l'animation "display" avec des keyframes
@keyframes display {
  // État initial de l'animation (0%)
  0% {
    // Définition de l'opacité à 0% (l'élément est invisible)
    opacity: 0%; 
    // Définition de la translation verticale de 30px (l'élément est déplacé vers le bas de 30px)
    transform: translateY(30px); 
  }
  
  // État final de l'animation (100%)
  100% {
    // Définition de l'opacité à 100% (l'élément est visible)
    opacity: 100%; 
    // Définition de la translation verticale à 0px (l'élément est à sa position initiale)
    transform: translateY(0px); 
  }
}