// Définition des couleurs utilisées dans le design
$color-primary: #9356dc; // Couleur primaire
$color-secondary: #ff79da; // Couleur secondaire
$color-tertiary: #99e2d0; // Couleur tertiaire
$color-white: #ffff; // Blanc
$color-grey: #f2f2f2; // Gris
$color-cell: #f5edff; // Couleur de cellule
$color-black: black; // Noir
$color-footer: #353535; // Couleur du pied de page

// Définition des tailles de base utilisées dans le design
$base-size: 1rem; // Taille de base